In [135]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
%matplotlib inline

In [136]:
import data

In [137]:
master = pd.read_csv('data/Master.csv', sep=',')

In [138]:
master = master[['playerID', 'nameFirst', 'nameLast', 'finalGame']]

In [139]:
# master.index = master.pop("playerID")

In [140]:
len(master)

18846

In [141]:
batting = pd.read_csv('data/Batting.csv', sep=',')
batting = batting[['playerID', 'H', 'BB', 'HBP', 'AB', 'SF']]

In [142]:
# batting.index = batting.pop("playerID")
batting.head()

    playerID     H   BB  HBP     AB  SF
0  abercda01   0.0  0.0  NaN    4.0 NaN
1   addybo01  32.0  4.0  NaN  118.0 NaN
2  allisar01  40.0  2.0  NaN  137.0 NaN
3  allisdo01  44.0  0.0  NaN  133.0 NaN
4  ansonca01  39.0  2.0  NaN  120.0 NaN

In [143]:
salary = pd.read_csv('data/Salaries.csv', sep=',')

In [144]:
salary = salary[['playerID', 'salary']]

In [145]:
# salary.index = salary.pop("playerID")
salary.head()

    playerID  salary
0  barkele01  870000
1  bedrost01  550000
2  benedbr01  545000
3   campri01  633333
4  ceronri01  625000

In [146]:
sal_per_bat = pd.merge(salary, batting)

In [180]:
total = pd.merge(sal_per_bat, master)

In [181]:
# total.index = total.pop("playerID")

In [182]:
total.fillna(0).head()

    playerID  salary    H   BB  HBP   AB   SF nameFirst nameLast   finalGame
0  barkele01  870000  0.0  0.0  0.0  0.0  0.0       Len   Barker  1987-09-26
1  barkele01  870000  0.0  0.0  0.0  0.0  0.0       Len   Barker  1987-09-26
2  barkele01  870000  0.0  0.0  0.0  0.0  0.0       Len   Barker  1987-09-26
3  barkele01  870000  0.0  0.0  0.0  0.0  0.0       Len   Barker  1987-09-26
4  barkele01  870000  0.0  0.0  0.0  0.0  0.0       Len   Barker  1987-09-26

In [183]:
def obp(total):
    return (total['H'] + total['BB'] + total['HBP']) / (total['AB'] + total['BB'] + total['HBP'] + total['SF'])

In [184]:
total['obp'] = obp(total)

In [185]:
total = total.fillna(0)

In [186]:
total.head()

,playerID,salary,H,BB,HBP,AB,SF,nameFirst,nameLast,finalGame,obp
0,barkele01,870000,0.0,0.0,0.0,0.0,0.0,Len,Barker,1987-09-26,0.0
1,barkele01,870000,0.0,0.0,0.0,0.0,0.0,Len,Barker,1987-09-26,0.0
2,barkele01,870000,0.0,0.0,0.0,0.0,0.0,Len,Barker,1987-09-26,0.0
3,barkele01,870000,0.0,0.0,0.0,0.0,0.0,Len,Barker,1987-09-26,0.0
4,barkele01,870000,0.0,0.0,0.0,0.0,0.0,Len,Barker,1987-09-26,0.0

In [187]:
# total[total['obp'].map() > 0]
# total = total.drop(total[total.obp >= 1].index)
# total = total[total.obp != 0]
# total.query(total.obp != 0)
total = total[(total.obp != 0) & (total.obp != 1) & (total.obp != None) & (total.obp.notnull())]

In [189]:
total = total.drop_duplicates('obp')
total.drop_duplicates('playerID')

,playerID,salary,H,BB,HBP,AB,SF,nameFirst,nameLast,finalGame,obp
8,barkele01,870000,1.0,0.0,0.0,8.0,0.0,Len,Barker,1987-09-26,0.125000
61,bedrost01,550000,1.0,1.0,0.0,26.0,0.0,Steve,Bedrosian,1995-08-09,0.074074
210,benedbr01,545000,13.0,6.0,0.0,52.0,0.0,Bruce,Benedict,1989-09-11,0.327586
272,campri01,633333,0.0,1.0,0.0,8.0,0.0,Rick,Camp,1985-10-05,0.111111
288,ceronri01,625000,3.0,1.0,0.0,12.0,0.0,Rick,Cerone,1992-07-10,0.307692
432,chambch01,800000,114.0,40.0,2.0,415.0,0.0,Chris,Chambliss,1988-05-08,0.341357
470,dedmoje01,150000,1.0,1.0,0.0,9.0,0.0,Jeff,Dedmon,1988-09-29,0.200000
492,forstte01,483333,2.0,0.0,0.0,5.0,0.0,Terry,Forster,1986-10-02,0.400000
531,garbege01,772000,2.0,2.0,0.0,7.0,0.0,Gene,Garber,1988-07-01,0.444444
612,harpete01,250000,10.0,6.0,1.0,54.0,0.0,Terry,Harper,1987-10-02,0.278689
639,hornebo01,1500000,86.0,24.0,2.0,323.0,9.0,Bob,Horner,1988-06-18,0.312849
669,hubbagl01,455000,42.0,10.0,2.0,163.0,0.0,Glenn,Hubbard,1989-07-29,0.308571
719,mahleri01,407500,4.0,0.0,0.0,27.0,0.0,Rick,Mahler,1991-08-06,0.148148
801,mcmurcr01,275000,6.0,3.0,0.0,70.0,0.0,Craig,McMurtry,1995-09-28,0.123288
835,mumphje01,775000,99.0,37.0,1.0,384.0,3.0,Jerry,Mumphrey,1988-09-30,0.322353
898,murphda05,1625000,24.0,0.0,0.0,76.0,0.0,Dale,Murphy,1993-05-21,0.315789
1069,oberkke01,616667,6.0,3.0,0.0,50.0,0.0,Ken,Oberkfell,1992-10-04,0.169811
1201,perezpa01,450000,1.0,0.0,0.0,4.0,0.0,Pascual,Perez,1991-10-02,0.250000
1267,perryge01,120000,14.0,5.0,0.0,39.0,1.0,Gerald,Perry,1995-08-24,0.422222
1397,ramirra01,750000,44.0,2.0,4.0,165.0,0.0,Rafael,Ramirez,1992-10-03,0.292398
1502,suttebr01,1354167,3.0,2.0,0.0,20.0,0.0,Bruce,Sutter,1988-09-09,0.227273
1573,washicl01,800000,63.0,13.0,1.0,221.0,1.0,Claudell,Washington,1990-06-18,0.326271
1835,dauerri01,480000,74.0,20.0,2.0,304.0,1.0,Rich,Dauer,1985-09-29,0.293578
1849,davisst02,437500,1.0,0.0,0.0,16.0,0.0,Storm,Davis,1994-08-11,0.062500
1994,dempsri01,512500,3.0,1.0,0.0,6.0,0.0,Rick,Dempsey,1992-09-27,0.571429
2194,dwyerji01,375000,11.0,1.0,0.0,57.0,0.0,Jim,Dwyer,1990-06-21,0.206897
2484,fordda01,450000,123.0,30.0,5.0,440.0,0.0,Dan,Ford,1985-05-31,0.332632
2507,grosswa01,483333,113.0,86.0,5.0,485.0,3.0,Wayne,Gross,1986-10-01,0.352332
2539,lacyle01,725000,63.0,19.0,0.0,243.0,1.0,Lee,Lacy,1987-10-03,0.311787
2590,lynnfr01,1090000,18.0,6.0,1.0,43.0,1.0,Fred,Lynn,1990-10-03,0.490196
...,...,...,...,...,...,...,...,...,...,...,...
298618,millebr02,510100,81.0,24.0,1.0,306.0,2.0,Brad,Miller,2015-10-04,0.318318
298648,perezju02,501000,17.0,5.0,2.0,100.0,0.0,Juan,Perez,2015-09-20,0.224299
298677,wongko01,500000,100.0,21.0,4.0,402.0,1.0,Kolten,Wong,2015-10-04,0.292056
298703,myerswi01,504200,98.0,33.0,1.0,335.0,4.0,Wil,Myers,2015-10-03,0.353887
298739,goinsry01,501900,34.0,5.0,0.0,181.0,1.0,Ryan,Goins,2015-10-04,0.208556
298775,rendoan01,1800000,93.0,31.0,5.0,351.0,5.0,Anthony,Rendon,2015-10-04,0.329082
298788,ahmedni01,508500,95.0,29.0,1.0,421.0,3.0,Nick,Ahmed,2015-09-22,0.275330
298789,anderch01,512500,1.0,0.0,1.0,34.0,0.0,Chase,Anderson,2015-09-30,0.057143
298800,peralda01,1024000,144.0,44.0,4.0,462.0,7.0,David,Peralta,2015-10-01,0.371373
298803,tomasya01,5500000,111.0,17.0,2.0,406.0,1.0,Yasmany,Tomas,2015-10-02,0.305164
298820,josepca01,515000,51.0,17.0,3.0,246.0,3.0,Caleb,Joseph,2015-10-03,0.263941
298824,paredji01,515000,24.0,6.0,1.0,125.0,2.0,Jimmy,Paredes,2015-09-30,0.231343
298831,bettsmo01,514500,174.0,46.0,2.0,597.0,6.0,Mookie,Betts,2015-10-04,0.341014
298840,holtbr01,530500,127.0,46.0,3.0,454.0,2.0,Brock,Holt,2015-10-03,0.348515
298851,alcanar01,510000,57.0,17.0,2.0,278.0,2.0,Arismendy,Alcantara,2015-04-19,0.254181
298856,hendrky01,510000,3.0,1.0,0.0,60.0,0.0,Kyle,Hendricks,2015-10-03,0.065574
298862,solerjo01,2666667,96.0,32.0,3.0,366.0,3.0,Jorge,Soler,2015-10-03,0.324257
298885,ramirjo01,511300,69.0,32.0,1.0,315.0,2.0,Jose,Ramirez,2015-10-04,0.291429
298899,gosean01,515000,37.0,17.0,2.0,166.0,0.0,Anthony,Gose,2015-10-04,0.302703
298906,mccanja02,507500,106.0,16.0,3.0,401.0,1.0,James,McCann,2015-10-04,0.296912
298922,springe01,512900,68.0,39.0,9.0,295.0,2.0,George,Springer,2015-10-04,0.336232
298930,croncj01,512500,99.0,17.0,5.0,378.0,3.0,C. J.,Cron,2015-10-04,0.300248
298950,pederjo01,510000,101.0,92.0,9.0,480.0,2.0,Joc,Pederson,2015-10-04,0.346484
298967,santada01,530000,129.0,19.0,3.0,405.0,1.0,Danny,Santana,2015-10-04,0.352804
299001,phegljo01,510000,42.0,5.0,0.0,204.0,2.0,Josh,Phegley,2015-09-17,0.222749
299038,solarya01,516400,142.0,34.0,6.0,526.0,3.0,Yangervis,Solarte,2015-10-04,0.319859
299045,sucreje01,509300,20.0,6.0,0.0,127.0,0.0,Jesus,Sucre,2015-10-04,0.195489
299059,beckhti01,508100,45.0,13.0,3.0,203.0,4.0,Tim,Beckham,2015-10-04,0.273543
299076,kiermke01,513800,133.0,24.0,2.0,505.0,2.0,Kevin,Kiermaier,2015-10-03,0.298311
299097,odorro01,513850,100.0,17.0,5.0,386.0,3.0,Rougned,Odor,2015-10-04,0.296837