In [135]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
%matplotlib inline

In [136]:
import data

In [137]:
master = pd.read_csv('data/Master.csv', sep=',')

In [138]:
master = master[['playerID', 'nameFirst', 'nameLast', 'finalGame']]

In [139]:
# master.index = master.pop("playerID")

In [140]:
len(master)

18846

In [141]:
batting = pd.read_csv('data/Batting.csv', sep=',')
batting = batting[['playerID', 'H', 'BB', 'HBP', 'AB', 'SF']]

In [142]:
# batting.index = batting.pop("playerID")
batting.head()

    playerID     H   BB  HBP     AB  SF
0  abercda01   0.0  0.0  NaN    4.0 NaN
1   addybo01  32.0  4.0  NaN  118.0 NaN
2  allisar01  40.0  2.0  NaN  137.0 NaN
3  allisdo01  44.0  0.0  NaN  133.0 NaN
4  ansonca01  39.0  2.0  NaN  120.0 NaN

In [143]:
salary = pd.read_csv('data/Salaries.csv', sep=',')

In [144]:
salary = salary[['playerID', 'salary']]

In [145]:
# salary.index = salary.pop("playerID")
salary.head()

    playerID  salary
0  barkele01  870000
1  bedrost01  550000
2  benedbr01  545000
3   campri01  633333
4  ceronri01  625000

In [146]:
sal_per_bat = pd.merge(salary, batting)

In [147]:
total = pd.merge(sal_per_bat, master)

In [148]:
total.index = total.pop("playerID")

In [149]:
total.fillna(0).head()

    playerID  salary    H   BB  HBP   AB   SF nameFirst nameLast   finalGame
0  barkele01  870000  0.0  0.0  0.0  0.0  0.0       Len   Barker  1987-09-26
1  barkele01  870000  0.0  0.0  0.0  0.0  0.0       Len   Barker  1987-09-26
2  barkele01  870000  0.0  0.0  0.0  0.0  0.0       Len   Barker  1987-09-26
3  barkele01  870000  0.0  0.0  0.0  0.0  0.0       Len   Barker  1987-09-26
4  barkele01  870000  0.0  0.0  0.0  0.0  0.0       Len   Barker  1987-09-26

In [150]:
def obp(total):
    return (total['H'] + total['BB'] + total['HBP']) / (total['AB'] + total['BB'] + total['HBP'] + total['SF'])

In [151]:
total['obp'] = obp(total)

In [152]:
total = total.fillna(0)

In [153]:
total.head()

,playerID,salary,H,BB,HBP,AB,SF,nameFirst,nameLast,finalGame,obp
0,barkele01,870000,0.0,0.0,0.0,0.0,0.0,Len,Barker,1987-09-26,0.0
1,barkele01,870000,0.0,0.0,0.0,0.0,0.0,Len,Barker,1987-09-26,0.0
2,barkele01,870000,0.0,0.0,0.0,0.0,0.0,Len,Barker,1987-09-26,0.0
3,barkele01,870000,0.0,0.0,0.0,0.0,0.0,Len,Barker,1987-09-26,0.0
4,barkele01,870000,0.0,0.0,0.0,0.0,0.0,Len,Barker,1987-09-26,0.0

In [156]:
# total[total['obp'].map() > 0]
# total = total.drop(total[total.obp >= 1].index)
# total = total[total.obp != 0]
# total.query(total.obp != 0)
total = total[(total.obp != 0) & (total.obp != 1) & (total.obp != None) & (total.obp.notnull())]

In [157]:
total

,playerID,salary,H,BB,HBP,AB,SF,nameFirst,nameLast,finalGame,obp
8,barkele01,870000,1.0,0.0,0.0,8.0,0.0,Len,Barker,1987-09-26,0.125000
9,barkele01,870000,2.0,6.0,0.0,38.0,0.0,Len,Barker,1987-09-26,0.181818
20,barkele01,880000,1.0,0.0,0.0,8.0,0.0,Len,Barker,1987-09-26,0.125000
21,barkele01,880000,2.0,6.0,0.0,38.0,0.0,Len,Barker,1987-09-26,0.181818
32,barkele01,890000,1.0,0.0,0.0,8.0,0.0,Len,Barker,1987-09-26,0.125000
33,barkele01,890000,2.0,6.0,0.0,38.0,0.0,Len,Barker,1987-09-26,0.181818
44,barkele01,72500,1.0,0.0,0.0,8.0,0.0,Len,Barker,1987-09-26,0.125000
45,barkele01,72500,2.0,6.0,0.0,38.0,0.0,Len,Barker,1987-09-26,0.181818
56,barkele01,900000,1.0,0.0,0.0,8.0,0.0,Len,Barker,1987-09-26,0.125000
57,barkele01,900000,2.0,6.0,0.0,38.0,0.0,Len,Barker,1987-09-26,0.181818
61,bedrost01,550000,1.0,1.0,0.0,26.0,0.0,Steve,Bedrosian,1995-08-09,0.074074
62,bedrost01,550000,2.0,0.0,0.0,19.0,0.0,Steve,Bedrosian,1995-08-09,0.105263
63,bedrost01,550000,2.0,0.0,0.0,17.0,0.0,Steve,Bedrosian,1995-08-09,0.117647
64,bedrost01,550000,5.0,1.0,0.0,64.0,0.0,Steve,Bedrosian,1995-08-09,0.092308
65,bedrost01,550000,1.0,1.0,0.0,5.0,0.0,Steve,Bedrosian,1995-08-09,0.333333
69,bedrost01,550000,1.0,0.0,0.0,6.0,0.0,Steve,Bedrosian,1995-08-09,0.166667
70,bedrost01,550000,2.0,0.0,0.0,4.0,0.0,Steve,Bedrosian,1995-08-09,0.500000
73,bedrost01,550000,1.0,0.0,0.0,2.0,0.0,Steve,Bedrosian,1995-08-09,0.500000
76,bedrost01,650000,1.0,1.0,0.0,26.0,0.0,Steve,Bedrosian,1995-08-09,0.074074
77,bedrost01,650000,2.0,0.0,0.0,19.0,0.0,Steve,Bedrosian,1995-08-09,0.105263
78,bedrost01,650000,2.0,0.0,0.0,17.0,0.0,Steve,Bedrosian,1995-08-09,0.117647
79,bedrost01,650000,5.0,1.0,0.0,64.0,0.0,Steve,Bedrosian,1995-08-09,0.092308
80,bedrost01,650000,1.0,1.0,0.0,5.0,0.0,Steve,Bedrosian,1995-08-09,0.333333
84,bedrost01,650000,1.0,0.0,0.0,6.0,0.0,Steve,Bedrosian,1995-08-09,0.166667
85,bedrost01,650000,2.0,0.0,0.0,4.0,0.0,Steve,Bedrosian,1995-08-09,0.500000
88,bedrost01,650000,1.0,0.0,0.0,2.0,0.0,Steve,Bedrosian,1995-08-09,0.500000
91,bedrost01,1050000,1.0,1.0,0.0,26.0,0.0,Steve,Bedrosian,1995-08-09,0.074074
92,bedrost01,1050000,2.0,0.0,0.0,19.0,0.0,Steve,Bedrosian,1995-08-09,0.105263
93,bedrost01,1050000,2.0,0.0,0.0,17.0,0.0,Steve,Bedrosian,1995-08-09,0.117647
94,bedrost01,1050000,5.0,1.0,0.0,64.0,0.0,Steve,Bedrosian,1995-08-09,0.092308
...,...,...,...,...,...,...,...,...,...,...,...
299073,karnsna01,508800,1.0,0.0,0.0,4.0,0.0,Nate,Karns,2015-09-08,0.250000
299075,kiermke01,513800,87.0,23.0,3.0,331.0,2.0,Kevin,Kiermaier,2015-10-03,0.314763
299076,kiermke01,513800,133.0,24.0,2.0,505.0,2.0,Kevin,Kiermaier,2015-10-03,0.298311
299077,souzast01,508700,3.0,3.0,0.0,23.0,0.0,Steven,Souza,2015-10-04,0.230769
299078,souzast01,508700,84.0,46.0,5.0,373.0,1.0,Steven,Souza,2015-10-04,0.317647
299097,odorro01,513850,100.0,17.0,5.0,386.0,3.0,Rougned,Odor,2015-10-04,0.296837
299098,odorro01,513850,111.0,23.0,14.0,426.0,5.0,Rougned,Odor,2015-10-04,0.316239
299099,ruary01,508500,31.0,2.0,2.0,105.0,0.0,Ryan,Rua,2015-09-20,0.321101
299100,ruary01,508500,16.0,3.0,0.0,83.0,0.0,Ryan,Rua,2015-09-20,0.220930
299101,smolija01,508500,30.0,3.0,3.0,86.0,0.0,Jake,Smolinski,2015-10-04,0.391304
299102,smolija01,508500,8.0,11.0,1.0,60.0,2.0,Jake,Smolinski,2015-10-04,0.270270
299103,smolija01,508500,24.0,8.0,2.0,106.0,2.0,Jake,Smolinski,2015-10-04,0.288136
299108,norrida01,508700,1.0,1.0,0.0,2.0,0.0,Daniel,Norris,2015-10-04,0.666667
299109,pillake01,512000,21.0,4.0,2.0,102.0,0.0,Kevin,Pillar,2015-10-04,0.250000
299110,pillake01,512000,31.0,4.0,1.0,116.0,1.0,Kevin,Pillar,2015-10-04,0.295082
299111,pillake01,512000,163.0,28.0,5.0,586.0,5.0,Kevin,Pillar,2015-10-04,0.314103
299112,pompeda01,508500,9.0,4.0,0.0,39.0,0.0,Dalton,Pompey,2015-10-04,0.302326
299113,pompeda01,508500,21.0,7.0,2.0,94.0,0.0,Dalton,Pompey,2015-10-04,0.291262
299118,tollest01,517300,14.0,4.0,0.0,49.0,0.0,Steven,Tolleson,2015-05-26,0.339623
299119,tollest01,517300,13.0,4.0,0.0,71.0,0.0,Steven,Tolleson,2015-05-26,0.226667
299120,tollest01,517300,43.0,12.0,2.0,170.0,1.0,Steven,Tolleson,2015-05-26,0.308108
299121,tollest01,517300,11.0,4.0,0.0,41.0,0.0,Steven,Tolleson,2015-05-26,0.333333
299124,dendema01,512972,12.0,4.0,1.0,58.0,0.0,Matt,den Dekker,2015-10-04,0.269841
299125,dendema01,512972,38.0,21.0,1.0,152.0,0.0,Matt,den Dekker,2015-10-04,0.344828
299126,dendema01,512972,25.0,9.0,0.0,99.0,0.0,Matt,den Dekker,2015-10-04,0.314815
299128,robincl01,525000,3.0,1.0,0.0,9.0,0.0,Clint,Robinson,2015-10-04,0.400000
299129,robincl01,525000,84.0,37.0,5.0,309.0,1.0,Clint,Robinson,2015-10-04,0.357955
299130,taylomi02,508700,8.0,3.0,1.0,39.0,0.0,Michael,Taylor,2015-10-04,0.279070
299131,taylomi02,508700,108.0,35.0,1.0,472.0,2.0,Michael,Taylor,2015-10-04,0.282353
299132,treinbl01,512800,1.0,1.0,0.0,12.0,0.0,Blake,Treinen,2015-10-04,0.153846